[Unit]
Description=WrzDJ Kiosk Watchdog Timer
Documentation=https://github.com/thewrz/WrzDJ/tree/main/kiosk

[Timer]
OnBootSec=60
OnUnitActiveSec=30
AccuracySec=5

[Install]
WantedBy=timers.target
